{% extends "layout.html" %}
{% block content %}
        <div id="fileDisplay">
            <h1>Upload new File</h1>
            <img src="{{file}}" id="preview">
        </div>
        <div id="fileUpload">
            <form method=post enctype=multipart/form-data>
                <input type="file" name="file" id="filetag">
                <input type="submit" value="Evaluate">
            </form>
        </div>
        <div id="resultDisplay">
            {% if animal != "" %}
            This is a {{animal}}, I'm {{accuracy}} sure!
        {% endif %}
        </div>
{% endblock %}