
:root {
    --bg-color: gray;
    --text-color-comp: white;
}

/* MAIN PAGE */
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#parent {
    margin-top: 3%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#middlePage {
    height: 100%;
    width: 105%;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 10px 7px;
    grid-column-start: 2;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
    align-items: center;
}

/* ANIMAL RECOGNITION PAGE */

#fileDisplay {
    grid-column-start: 2;
    grid-row: span 7 / span 7;
}

#drop-area {
    text-align: center;
}

#preview-block {
    align-items: center;
    cursor: pointer;
    width: 500px;
    height: 300px;
    transform: scale(1);
    border-radius: 20px;
    border: 2px solid var(--bg-color);
    background: center center / cover rgb(247, 248, 255);
    background-position: center center;
    transition: 0.3s;
}

#preview-block:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

#fileUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-row-start: 8;
}

#resultDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-row-start: 9;
}

#resultDisplay.active-animation {
    animation: appear 0.5s 1;
}
#resultDisplay.inactive-animation {
    animation: appear 0.5s 1;
}

#preview {
    display: none;
}

/* NAVBAR */
header {
    background-color: var(--bg-color);
    color: var(--text-color-comp);
}

ul {
	list-style: none;
}

header nav{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input[type="submit"] {
    cursor: pointer;
    font-size: 100%;
    flex-direction: row;
    border: 1px solid var(--bg-color);
    padding: 16px 32px;
    border-radius: 20px;
    transition: 0.5s;
}

input[type="submit"]:active {
    transform: scale(0.95);
    transition: 0.3s;
}



/* FOOTER */
footer{
    background-color: var(--bg-color);
    color: var(--text-color-comp);
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    align-items: center;
}

footer p, footer a{
    margin-bottom: 0;

}


img {
    width: 500px;
    height: 500px;
}


/* ANIMATION :D */
@keyframes appear {
    from {
        transform:scale(0.1);
    }
    to {
        transform:scale(1.0);
    }
}